тело {
	цвет фона: #15171d;
	отступ: 0 пикселей;
	поле: 0 пикселей;
	переполнение: скрыто;
}

.калькуляторdiv {
	ширина: 100%;
	семейство шрифтов: "Arial", без засечек;
	максимальная ширина: 500 пикселей;
	заполнение: 3%;
	margin: 40px auto;
	дисплей: блок;
}

.выводdiv {
	ширина: 94%;
	цвет фона: #ddd;
	размер шрифта: 32 пикселя;
	цвет: #333;
	выравниваниепотексту: по правому краю;
	отступы: 5% 1,5%;
	поле: 1,5%;
	float: слева;
}

.btndiv {
	ширина: 22%;
	цвет фона: #555;
	размер шрифта: 20 пикселей;
	цвет: белый;
	выравниваниепотексту: по центру;
	отступы: 5% 0 пикселей;
	поле: 1,5%;
	float: слева;
	курсор: указатель;
	переход: 0,25 с плавный вход и выход;
	-moz-transition: 0,25 с все плавно;
	-webkit-transition: 0,25 с все плавно;
}

[тип данных = «символ»].btndiv
[тип данных = «оператор»].btndiv {
	цвет фона: #333;
}

[тип данных = «равно»].btndiv {
	цвет фона: #ce3078;
	отступы: 31,25% 0 пикселей;
	float: справа;
}

:при наведении.btndiv {
	непрозрачность: 0,75;
}

@media (максимальная ширина: 768 пикселей) {
	[тип данных = «равно»].btndiv {
		отступы: 33,5% 0px;
 }
}